<div class="header about">
	<%= render(:partial => "navigation") %>
</div>

<div class="main welcome">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Hello, my name is Fabrizio Bertoglio and I am a Full-stack Webdeveloper. I mainly work with <span> Ruby on Rails</span>,<span> SQL</span>,<span> Linux</span>,<span> AngularJs</span>,<span> jQuery</span>,<span> Javascript</span>,<span> CSS3</span> and <span> HTML5</span>.
        I also speak English, Italian, German and Spanish.</br>
        This is my personal Website, it does not include much content, but I will update it with all my new Projects and Apps.</h2>
      </div>
    </div>
  </div>
</div>