/* Place all the styles related to the Pages controller here.
 They will automatically be included in application.css.
 You can use Sass (SCSS) here: http://sass-lang.com/*/
/*.container {
  margin: 0px 247px 0px 247px;
}*/

/* Body */

body {
  font-size: 18px;
}


/* Header */

/* Navigation Bar */

.navbar-nav {
  float: right;
  background: transparent;
}

.navbar {
  background: transparent;
  border: transparent;
  z-index: +1;
}

.navbar-default .navbar-nav > li > a {
  color: #FCFFFD;
}

.navbar-default .navbar-brand {
  color: #FCFFFD;
}

.navbar-brand {
  font-size: 18px;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-brand:hover {
  background-color: #FF0000;
  color: #FCFFFD;
}

/* Navigation About */

.about .navbar {
}

/* Video Header */

.header {
  width: 100%;
  height: 650px;
  border-left: none;
  border-right: none;
  margin-top: 0px; /*correction made*/
}


.header-video {
  position: relative;
  padding: 20px;
  margin-top: -70px;
}
/* Header Welcome */

#video-container {
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

video {
  position: absolute;
  z-index: -3;
  width: 1950px;
  margin-top: -450px;
}

.header .row {
  height: 100%;
}

.header .centered {
  display: flex;
  float: none;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

h1 {
  /*position: relative;
  top: 35%;
  transform: translateY(-50%);
  text-align: center;*/
  color: #FCFFFD;
  font-size: 7vw;
  font-weight: bold;
}


.header .button {
  display: inline-block;
  color: #FCFFFD;
  font-size: 25px;
  border: solid 5px white;
  padding: 10px 60px;
  font-weight: bold;
  background: transparent;
  margin-top: 43px;
  /*position: relative;
  top: 35%;
  transform: translateY(-50%);
  left: 50%;
  transform: translateX(-50%);*/
}

.header h1:hover {
  color: #FF0000;
}

.header .button:hover {
  background-color: #FF0000;
  color: #0100E8;
  border: solid 5px #0100E8;
}

/* Main */
.main {
  /*padding: 50px 0px;*/
  /*background-image: url("/assets/wood.jpg");*/
  height: 100%;
  background-size: cover;
  margin-top: 200px;
}

.main.welcome {
  margin-top: 50px;
}

.main h2 {
  line-height: 1.6;
}

.main .col-md-9 h2 {
  margin-top: 0;
  line-height: 1.6;
}

.main span {
  color: #FF0000;
}

.crop {
    width: 200px;
    height: 200px;
    overflow: hidden;
    position:relative;
    border: 0.5px solid #e6e6e6;
    z-index: 0;
}

.crop video {
    width: 425px;
    height: 250px;
    margin-top: -30px;
    margin-left: -123px;
    position:relative;
    z-index: -1;
}

.container.slider {
    background-image: url('');
    background-size: cover;
}

.my-slider {
  max-width: 1164px;
}
.my-slider img {
  width: 100%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  border: solid 3px black;
}

.unslider-arrow {
  display: none;
  height: 0px;
}

.unslider-nav {
  display: none;
  height: 0px;
}

.unslider-arrow.next{
  position: relative;
  float: right;
  right: 0px;
  top: 50%;
  transform: translateX(-50%);    
}

/* Header Portfolio */
.header.portfolio {
  background-image: url("https://s3.eu-central-1.amazonaws.com/portfoliofabrizio/wood.jpg");
  background-size: cover;
  text-align: center;
}

.portfolio .navbar {
  overflow: hidden;
}

.portfolio .centered {
  margin-top: -70px;
  width: 100%;
}
/* Header About */

.header.about {
  background-image: url("https://s3.eu-central-1.amazonaws.com/portfoliofabrizio/me.JPG");
  background-size: cover;
  background-position: center 61%;
  background-repeat: no-repeat;
  height: 900px;
}



/* Supporting */

.supporting {
  background-image: url('https://s3.eu-central-1.amazonaws.com/portfoliofabrizio/murales.jpg');
  background-size: cover;
  background-position: center;
  height: 600px;
  margin: 200px 100px;  
}

.supporting .container {

}

.supporting .container, .supporting .container .row, .supporting .container .col-md-4 {
  height: 100%;
}

.supporting img {
  width: 100%;
  padding: 0 15px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);  
}

/* Jumbotron */

.jumbotron {
  /*background-image: url('');*/
  background-size: cover;
  height: 800px;
}

/* Media Queries delete everything that does not change */

@media (min-width: 1950px) {
  video {
    width: 100%;
  }
  .header-video {
    height: 1500px;
    margin-top: -250px;
  }
  /*h1 {
    top: 50%;
  }
  .header .button {
    top: 50%;
  }*/
}

@media (max-width: 1500px) {
  video {
    width: 1500px;
    margin-top: -250px;
  }
}

@media (max-width: 1250px) {
  .header {
  height: 480px;
  }
  video {
    width: 1250px;
  }
  
  .header-video h1 {
    font-size: 63px;
   /* top: 50%;*/
  }

  .header .portfolioHeader {
    font-size: 5vw;
  }

  .header .button {
  font-size: 22px;
  border: solid 4px white;
  /*padding: 7px 50px;
  top: 35%;*/
  }
}

@media (max-width: 985px) {
  .main .crop {
    display: none;
  }
  .main {
    margin-top: 100px;
  }
  .supporting {
    margin-top: 100px;
    height: 400px;  
  }  
}

@media (max-width: 820px) {
  .navbar {
  background: white;
  /*overflow: auto;
  margin-bottom: 0px;*/
  }

  .navbar-nav {
  float: right;
  background: white;
  }

  .navbar-default .navbar-nav > li > a {
  color: black;
  }

  .navbar-default .navbar-brand {
  color: black;
  }

  .header {
  height: 550px;
  }

  video {
  width: 820px;
  margin-top: 50px;
  }
  
  .header h1 {
    font-size: 53px;
    /*top: 48%;*/
  }

  .header .button {
  display: none;
  }

  .main h2 {
    font-size: 2.9vw;
  }
}

@media (max-width: 660px) {
  .header{
    height: 450px;
  }
  video {
  width: 660px;
  }
  .header h1 {
    font-size: 37px;
    /*top: 47%;*/
  }
  .header.about {
    height: 600px;
  }
}

@media (max-width: 360px) { 
  .header {
  height: 270px;
  width: 100%;
  }
  .main {
    margin-top: 50px;
  }
  .supporting {
    margin-top: 50px;
    height: 100px;  
  } 
  video {
  width: 360px;
  }
  .header.about {
    height: 300px;
  }
  .header h1 {
    /*font-size: 4vw;
    top: 42%;
    width: 360px;
    padding-left: 18px;*/
  }
  .main h2 {
    font-size: 4vw;
  } 
  .header .portfolioHeader {
    font-size: 10vw;
    margin-top: 45px;
  }
}



/*https://color.adobe.com/create/color-wheel/?base=2&rule=Analogous&selected=3&name=My%20Color%20Theme&mode=rgb&rgbvalues=0.9896161659413248,1,0.9904939182814604,0.91,0.6935267742536794,0.04550000000000004,1,0,0,0.004300784517331522,0,0.91,0.050000000000000044,1,0.507431722621493&swatchOrder=0,1,2,3,4
https://pixabay.com/en/dew-field-grass-green-hd-wallpaper-1867519/
*/